@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    
}

.section {
    border: 2px solid green;
    border-radius: 1rem;
}

.logo {
    width: 50px;
    border-radius: 50%;
}

.logo-container {
    /* width: 50%; */
}

.navbar-links {
    
}

.navbar-link {
    margin: 0 3px;
}

.blog-container {
    background-color: violet;
}

.ads-container {
    background-color: aqua;
}

.footer-container {
    background-color: blueviolet;
}

.header {
    background-color: cadetblue;
}

.main {
    
}

.footer {

}

#footer-span {
    color: red;
}

a[target="_blank"] {
    background-color: red;
}

h1 {
    color: red;
    margin: 0;
}

.test-heading {
    color: green;
    background-color: black;
    /* Adding margin as Shorthand syntax */
    /* margin: 10px 10px 10px 10px => Top Right Bottom Left */
    /* margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;  */
    /* Adding Layer 2 Shorthand */
    /* margin: 10px;  */
    padding: 10px;
    /* Adding Layer 3 Shorthand */
    /* margin: VERTICAL HORIZONTAL */
    /* margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px; */
    /* margin: 30px 20px 30px 20px; */
    margin: 30px 20px;
    padding: 30px 20px;
    /* border-width: 10px;
    border-style: solid;
    border-color: red; */
    border: 10px solid red;
}

#test-heading {
    color: blue;
}

.heading-inline {
    display: inline;
}

.flex {
    display: flex;
}

.box {
    height: 50px;
    width: 50px;
    background-color: green;
    margin: 10px;
}

.hero {
    padding: 10px 32px;
    justify-content: space-between;
    align-items: center;
}